<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.tvatalhos" android:versionCode="2" android:versionName="1.1">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Android 10+ só deixa abrir apps no arranque a quem tem esta permissão -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application android:label="TV Atalhos" android:icon="@drawable/icon"
        android:banner="@drawable/banner" android:theme="@android:style/Theme.Material.NoActionBar">

        <activity android:name=".MainActivity" android:label="TV Atalhos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Atalhos diretos: ficam desativados até lhes ser atribuída uma app -->
        <activity android:name=".SlotActivity" android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true" android:exported="false" />
        <activity-alias android:name=".Atalho1" android:targetActivity=".SlotActivity"
            android:label="Atalho 1" android:icon="@drawable/slot1" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias android:name=".Atalho2" android:targetActivity=".SlotActivity"
            android:label="Atalho 2" android:icon="@drawable/slot2" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias android:name=".Atalho3" android:targetActivity=".SlotActivity"
            android:label="Atalho 3" android:icon="@drawable/slot3" android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <receiver android:name=".BootReceiver" android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
